In [10]:
%reload_ext pycozo.ipyext_direct
%cozo_auth tutorial x

  × invalid password

In [11]:
1

  × invalid password

In [2]:
isinstance(1.0, float)

True

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 2], [True, False], ['a', 'b'], [{}, None]])

In [3]:
df

      0      1
0     1      2
1  True  False
2     a      b
3    {}   None

In [4]:
df.style

In [22]:
def colour_code_type(val):
    if isinstance(val, int) or isinstance(val, float):
        colour = '#307fc1'
    elif isinstance(val, str):
        colour = 'black'
    else:
        colour = '#bf5b3d'
    return f'color: {colour}'

In [23]:
df.style.applymap(colour_code_type)

In [10]:
df.style.applymap

      0      1
0     1      2
1  True  False
2     a      b
3    {}   None